.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body {
  max-width: 800px;
  color: #ddd;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  width: -webkit-fill-available;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.blockQuote {
  border-left: 5px solid #ddd;
  padding: 10px 20px;
  font-weight: 600;
}